h1{
    font-size: 60px;
}

h3 {
    font-size: 100px;
}

.familiaTexto{
    font-family: "papyrus";
    font-size: 20px;
    color: #1442e1;
    text-align: justify;
}


.fondoprincipal{
    background-color:  #927227;
}

.fondoheaderindex{
    background-color: green;
}

.fondoheaderpagina1{
    background-color: blue;
}

.imagenfondo{
    background-image: url(img/banner-eventos-medellin.jpg) ;
    height: 640px;
    background-attachment: fixed;
}
.textorojo{
    color: red;
}
